# Part 2 - Mapping Yelp Search Results

## Obective

- For this CodeAlong, we will be working with the Yelp API results from last class. 
- You will load in the .csv.gz of your yelp results and prepare the data for visualization.
- You will use Plotly Express to create an interactive map with all of the results.

## Tools You Will Use
- Part 1:
    - Yelp API:
        - Getting Started: 
            - https://www.yelp.com/developers/documentation/v3/get_started

    - `YelpAPI` python package
        -  "YelpAPI": https://github.com/gfairchild/yelpapi
- Part 2:

    - Plotly Express: https://plotly.com/python/getting-started/
        - With Mapbox API: https://www.mapbox.com/
        - `px.scatter_mapbox` [Documentation](https://plotly.com/python/scattermapbox/):

### Applying Code From
- [Advanced Transformations with Pandas - Part 1](https://login.codingdojo.com/m/376/12529/88086)
- [Advanced Transformations with Pandas - Part 2](https://login.codingdojo.com/m/376/12529/88088)

### Goal

- We want to create a map with every restaurant plotted as a scatter plot with detailed information that appears when we hover over a business
- We will use plotly express's `px.scatter_mapbox` function to accomplish this.
    - https://plotly.com/python/scattermapbox/
    
    - We will need a Mapbox API token for some of the options:
        - https://studio.mapbox.com/

# Loading Data from Part 1

In [180]:
## Plotly is not included in your dojo-env
!pip install plotly

Requirement already satisfied: plotly in /opt/homebrew/Caskroom/miniforge/base/envs/dojo-env/lib/python3.8/site-packages (5.6.0)
Requirement already satisfied: tenacity>=6.2.0 in /opt/homebrew/Caskroom/miniforge/base/envs/dojo-env/lib/python3.8/site-packages (from plotly) (8.0.1)
Requirement already satisfied: six in /opt/homebrew/Caskroom/miniforge/base/envs/dojo-env/lib/python3.8/site-packages (from plotly) (1.15.0)

In [181]:
# Standard Imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import json

## importing plotly 
import plotly.express as px

In [182]:
## Load in csv.gz
df = pd.read_csv("Data/Seattle-Pizza.csv.gz")
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 840 entries, 0 to 839
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             840 non-null    object
 1   alias          840 non-null    object
 2   name           840 non-null    object
 3   image_url      828 non-null    object
 4   is_closed      840 non-null    bool
 5   url            840 non-null    object
 6   review_count   840 non-null    int64
 7   categories     840 non-null    object
 8   rating         840 non-null    float64
 9   coordinates    840 non-null    object
 10  transactions   840 non-null    object
 11  location       840 non-null    object
 12  phone          807 non-null    float64
 13  display_phone  807 non-null    object
 14  distance       840 non-null    float64
 15  price          750 non-null    object
dtypes: bool(1), float64(3), int64(1), object(11)
memory usage: 99.4+ KB

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,location,phone,display_phone,distance,price
0,FVbwpNA1uZEGiM02N4XtUg,blotto-seattle,Blotto,https://s3-media3.fl.yelpcdn.com/bphoto/Q4Y1Cw...,False,https://www.yelp.com/biz/blotto-seattle?adjust...,24,"[{'alias': 'pizza', 'title': 'Pizza'}]",5.0,"{'latitude': 47.61849, 'longitude': -122.31664}",[],"{'address1': '1830 12th Ave', 'address2': '', ...",1.206403e+10,(206) 403-1809,1686.862176,NaN
1,Wi6LFkjIausYj277ru6pqg,humble-pie-seattle,Humble Pie,https://s3-media1.fl.yelpcdn.com/bphoto/9tK83_...,False,https://www.yelp.com/biz/humble-pie-seattle?ad...,344,"[{'alias': 'pizza', 'title': 'Pizza'}]",4.0,"{'latitude': 47.5976491915013, 'longitude': -1...",['delivery'],"{'address1': '525 Rainier Ave S', 'address2': ...",1.206330e+10,(206) 329-5133,2166.834011,$$
2,EwrAoy7XbX8nfemZdDvupA,cornelly-seattle,Cornelly,https://s3-media4.fl.yelpcdn.com/bphoto/HlYYBT...,False,https://www.yelp.com/biz/cornelly-seattle?adju...,77,"[{'alias': 'pizza', 'title': 'Pizza'}, {'alias...",4.5,"{'latitude': 47.624577, 'longitude': -122.325577}","['pickup', 'delivery']","{'address1': '601 Summit Ave E', 'address2': '...",NaN,NaN,2578.701393,NaN
3,ugTsEtjvwRhteac_6JcuPw,italian-family-pizza-seattle,Italian Family Pizza,https://s3-media2.fl.yelpcdn.com/bphoto/SgiSrJ...,False,https://www.yelp.com/biz/italian-family-pizza-...,966,"[{'alias': 'pizza', 'title': 'Pizza'}, {'alias...",4.0,"{'latitude': 47.60937, 'longitude': -122.32546}","['pickup', 'delivery']","{'address1': '1028 Madison St', 'address2': No...",1.206538e+10,(206) 538-0040,2271.307105,$$
4,Ss_66zV-zhK_57_6MgV93w,aglio-e-olio-seattle,Aglio e Olio,https://s3-media2.fl.yelpcdn.com/bphoto/inrSl1...,False,https://www.yelp.com/biz/aglio-e-olio-seattle?...,267,"[{'alias': 'italian', 'title': 'Italian'}, {'a...",4.5,"{'latitude': 47.62323, 'longitude': -122.29593}",['delivery'],"{'address1': '2743 E Madison St', 'address2': ...",1.206710e+10,(206) 709-8883,1130.900743,$$

## Required Preprocessing

- 1. We need to get the latitude and longitude for each business as separate columns.
- We also want to be able to show the restaurants:
    - name,
    - price range
    - address
    - and if they do delivery or takeout.

### Separating Latitude and Longitude

In [183]:
## use .apply pd.Series to convert a dict to columns
df['coordinates'].apply(pd.Series)

                                                     0
0      {'latitude': 47.61849, 'longitude': -122.31664}
1    {'latitude': 47.5976491915013, 'longitude': -1...
2    {'latitude': 47.624577, 'longitude': -122.325577}
3      {'latitude': 47.60937, 'longitude': -122.32546}
4      {'latitude': 47.62323, 'longitude': -122.29593}
..                                                 ...
835  {'latitude': 47.667511119207, 'longitude': -12...
836  {'latitude': 47.6157033283809, 'longitude': -1...
837    {'latitude': 47.55172, 'longitude': -122.36327}
838  {'latitude': 47.676215, 'longitude': -122.205084}
839  {'latitude': 47.6196463475606, 'longitude': -1...

[840 rows x 1 columns]

- Why didn't that work???

In [184]:
## slice out a single test coordinate
test_coord = df.loc[0,'coordinates']
test_coord

"{'latitude': 47.61849, 'longitude': -122.31664}"

In [185]:
type(test_coord)

str

- Its not a dictionary anymore!!! WTF??
    - CSV files cant store iterables (lists, dictionaries) so they get converted to strings.

### Fixing the String-Dictionaries

- The json module has another version of load and dump called `json.loads` and `json.dumps`
    - These are designed to process STRINGS instead of files. 
    
- If we use `json.loads` we can convert our string dictionary into an actual dictionary.

In [186]:
## Use json.loads on the test coordinate
#json.loads(test_coord)

- JSON requires double quotes!

In [187]:
## replace single ' with " 
test_coord = test_coord.replace("'",'"')

In [188]:
## Use json.loads on the test coordinate, again
json.loads(test_coord)

{'latitude': 47.61849, 'longitude': -122.31664}

In [189]:
json.loads(test_coord)

{'latitude': 47.61849, 'longitude': -122.31664}

### Now, how can we apply this same process to the entire column??

In [190]:
# method 1
# df['coordinates'].str.replace("'",'"')

In [191]:
# # method 2
# df['coordinates'] = df['coordinates'].apply(lambda cell : cell.replace("'",'"'))
# df['coordinates'] = df['coordinates'].apply(json.loads)
# df['coordinates'].apply(pd.Series)

In [192]:
# Power of Lambda

lat_long = df['coordinates'].apply(lambda cell : pd.Series(json.loads(cell.replace("'",'"'))))

In [193]:
lat_long

      latitude   longitude
0    47.618490 -122.316640
1    47.597649 -122.313306
2    47.624577 -122.325577
3    47.609370 -122.325460
4    47.623230 -122.295930
..         ...         ...
835  47.667511 -122.375935
836  47.615703 -122.200735
837  47.551720 -122.363270
838  47.676215 -122.205084
839  47.619646 -122.196551

[840 rows x 2 columns]

In [194]:
## slice out a single test coordinate

### Using Apply with pd.Series to convert a dictionary column into multiple columns

In [196]:
# ## use .apply pd.Series to convert a dict to columns
# df['coordinates'].apply(pd.Series)

In [197]:
## Concatenate the 2 new columns and drop the original.
df = pd.concat([df.drop(columns = ['coordinates']),lat_long],axis =1)
df

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,transactions,location,phone,display_phone,distance,price,latitude,longitude
0,FVbwpNA1uZEGiM02N4XtUg,blotto-seattle,Blotto,https://s3-media3.fl.yelpcdn.com/bphoto/Q4Y1Cw...,False,https://www.yelp.com/biz/blotto-seattle?adjust...,24,"[{'alias': 'pizza', 'title': 'Pizza'}]",5.0,[],"{'address1': '1830 12th Ave', 'address2': '', ...",1.206403e+10,(206) 403-1809,1686.862176,NaN,47.618490,-122.316640
1,Wi6LFkjIausYj277ru6pqg,humble-pie-seattle,Humble Pie,https://s3-media1.fl.yelpcdn.com/bphoto/9tK83_...,False,https://www.yelp.com/biz/humble-pie-seattle?ad...,344,"[{'alias': 'pizza', 'title': 'Pizza'}]",4.0,['delivery'],"{'address1': '525 Rainier Ave S', 'address2': ...",1.206330e+10,(206) 329-5133,2166.834011,$$,47.597649,-122.313306
2,EwrAoy7XbX8nfemZdDvupA,cornelly-seattle,Cornelly,https://s3-media4.fl.yelpcdn.com/bphoto/HlYYBT...,False,https://www.yelp.com/biz/cornelly-seattle?adju...,77,"[{'alias': 'pizza', 'title': 'Pizza'}, {'alias...",4.5,"['pickup', 'delivery']","{'address1': '601 Summit Ave E', 'address2': '...",NaN,NaN,2578.701393,NaN,47.624577,-122.325577
3,ugTsEtjvwRhteac_6JcuPw,italian-family-pizza-seattle,Italian Family Pizza,https://s3-media2.fl.yelpcdn.com/bphoto/SgiSrJ...,False,https://www.yelp.com/biz/italian-family-pizza-...,966,"[{'alias': 'pizza', 'title': 'Pizza'}, {'alias...",4.0,"['pickup', 'delivery']","{'address1': '1028 Madison St', 'address2': No...",1.206538e+10,(206) 538-0040,2271.307105,$$,47.609370,-122.325460
4,Ss_66zV-zhK_57_6MgV93w,aglio-e-olio-seattle,Aglio e Olio,https://s3-media2.fl.yelpcdn.com/bphoto/inrSl1...,False,https://www.yelp.com/biz/aglio-e-olio-seattle?...,267,"[{'alias': 'italian', 'title': 'Italian'}, {'a...",4.5,['delivery'],"{'address1': '2743 E Madison St', 'address2': ...",1.206710e+10,(206) 709-8883,1130.900743,$$,47.623230,-122.295930
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
835,7tQY7TW-oYhAztdpUVgfZQ,subway-seattle-127,Subway,https://s3-media2.fl.yelpcdn.com/bphoto/KFiJVP...,False,https://www.yelp.com/biz/subway-seattle-127?ad...,39,"[{'alias': 'sandwiches', 'title': 'Sandwiches'}]",3.0,"['pickup', 'delivery']","{'address1': '5300 15th Ave NW', 'address2': '...",1.206790e+10,(206) 789-5434,8529.998816,$,47.667511,-122.375935
836,rcDbUcs83gvoRxhaTmFfnQ,cypress-lounge-and-wine-bar-bellevue,Cypress Lounge & Wine Bar,https://s3-media2.fl.yelpcdn.com/bphoto/DsFhIb...,False,https://www.yelp.com/biz/cypress-lounge-and-wi...,63,"[{'alias': 'wine_bars', 'title': 'Wine Bars'},...",3.5,[],"{'address1': '600 Bellevue Way NE', 'address2'...",1.425638e+10,(425) 638-1000,7123.208902,$$,47.615703,-122.200735
837,G-p5SgQnBM5e8XxMMO1qOg,pho-aroma-seattle-2,Pho Aroma,https://s3-media1.fl.yelpcdn.com/bphoto/BCxDac...,False,https://www.yelp.com/biz/pho-aroma-seattle-2?a...,384,"[{'alias': 'vietnamese', 'title': 'Vietnamese'...",4.0,['delivery'],"{'address1': '5605 Delridge Way SW', 'address2...",1.206932e+10,(206) 932-4343,8499.808775,$$,47.551720,-122.363270
838,8S3qU0TGMJDyj4KHBmxlaw,pho-tai-kirkland,Pho Tai,https://s3-media3.fl.yelpcdn.com/bphoto/tnvGkA...,False,https://www.yelp.com/biz/pho-tai-kirkland?adju...,184,"[{'alias': 'vietnamese', 'title': 'Vietnamese'...",3.5,"['delivery', 'pickup']","{'address1': '147 Park Ln', 'address2': '', 'a...",1.425577e+10,(425) 576-5407,9765.353049,$$,47.676215,-122.205084
839,i8mygke4ckycOudTO_3UQQ,café-cesura-bellevue-4,Café Cesura,https://s3-media3.fl.yelpcdn.com/bphoto/t6NpST...,False,https://www.yelp.com/biz/caf%C3%A9-cesura-bell...,537,"[{'alias': 'coffee', 'title': 'Coffee & Tea'},...",3.5,['delivery'],"{'address1': '1015 108th Ave NE', 'address2': ...",1.425955e+10,(425) 954-7277,7466.233853,$,47.619646,-122.196551

## Creating a Simple Map

### Register for MapBox API

Mapbox API: https://www.mapbox.com/

In [ ]:
## Load in mapbox api credentials from .secret

- Use the plotly express `set_maptbox_acccess_token` function

In [ ]:
## set mapbox token

In [ ]:
## use scatter_mapbox for M.V.P map

### Adding Hover Data

- We want to show the restaurants:
    - name
    - price range
    - address
    - and if they do delivery or takeout.
    
    
- We can use the `hover_name` and `hover_data` arguments for `px.scatter_mapbox` to add this info!

In [ ]:
## add hover_name (name) and hover_data for price,rating,location

### Fixing the Location Column

In [ ]:
## slice out a test address

> Also a string-dictionary...

In [ ]:
## replace ' with "
df['location'] = df['location'].str.replace("'", '"')
df

In [ ]:
## apply json.loads

> Ruh roh....

- Hmm, let's slice out a test_address again and let's write a function to accomplish this instead.
    - We can use try and except in our function to get around the errors.

### Fixing Addresses - with a custom function

In [ ]:
## slice out test address 
test_addr = df.loc[0, 'location']
test_addr

In [ ]:
## write a function to just run json.loads on the address

In [ ]:
## test applying our function

- It worked! Now let's save this as a new column (display_location),
and then let's investigate the businesses that had an "ERROR".

In [ ]:
### save a new display_location column using our function

In [ ]:
## filter for businesses with display_location == "ERROR"

In [ ]:
## slice out a new test address and inspect
test_addr = df.loc[437, 'location']
test_addr

> After some more investigation, we would find a few issues with these "ERROR" rows.
1. They contained None.
2. They contained an apostrophe in the name.
3. ...?

### Possible Fixes (if we care to/have the time)

- Use Regular Expressions to find an fix the display addresses with "'" in them
- Use string split to split on the word display address.
    - Then use string methods to clean up

### Moving Forward without those rows (for now)

In [ ]:
## remove any rows where display_location == 'ERROR'

- We want the "display_address" key from the "display_location" dictionaries.
- We could use a .apply and a lamda to slice out the desired key.

In [ ]:
## use apply and lambda to slice correct key

- Almost done! We want to convert display_address to a string instead a list of strings.
- We can use the string method .join to do so!

In [ ]:
## slice out a test_address

In [ ]:
## test using .join with a "\n"

In [ ]:
## apply the join to every row with a lambda

### Final Map

In [ ]:
## make ourn final map and save as varaible

#### HTML Uses `<br>` instead of `\n`

In [ ]:
## remake the final address column with <br> instead 

## plot the final map

In [ ]:
## use fig.write_html to save map